# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.venv

# Spark
*.log
metastore_db/
spark-warehouse/
derby.log

# Data
data/bronze/**
data/silver/**
data/gold/**
*.parquet
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Ivy cache (Spark dependencies)
.ivy2/

# Kafka logs
logs/
